@page
@model WebApp.Pages.Task.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Details</h1>

<h4>About Task Details</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.task.taskName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.task.taskName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.task.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.task.Description)
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
          @Html.DisplayFor(model => model.task.Category.Name)
        </dd>
    </dl>
</div>

    <div>
    <a asp-page="../Index">Back to List</a>
    </div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
