@page
@model IndexModel
@{
    ViewData["Title"] = "To Do App";
}

<div class="text-center">
    <h1 class="display-4">Tasks</h1>
    <div><a href="./../Pages/Task/Create.cshtml">Create a Task</a></div>
    <table class="table col-md-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Task Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in @Model.users)
            {
                @foreach (var task in u.Tasks.OrderBy(t => t.Id))
                {
                    <tr>
                        <td>@u.Id</td>
                        <td>@u.Name</td>
                        <td>@task.taskName</td>
                        <td><a href="./../Pages/Task/Update.cshtml">Update</a> |  <a asp-page="./Task/Delete" asp-route-id="@task.Id">Delete</a>

                    </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
