@page 
@model WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "To Do App";
}

<div class="text-center">
    <h1 class="display-4">Tasks</h1>
<<<<<<< HEAD
       <form method="get">
           <div class="input-group">
               <input class="form-control"asp-for="search"/>
               <div class="input-group-append">
                   <button type="submit"class="btn btn-primary">Search</button>
               </div>
           </div>
       </form>
    <div>
        <a asp-page="./Task/Create">Create Tasks</a></div>
=======
    <div><a asp-page="./Task/Create" class="btn btn-success">Create Tasks</a></div>
>>>>>>> 12e156eaa20b218ab12a0a0514e0b32d9d5e7e93
    <table class="table col-md-4">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Category</th>
                <th> TaskDate</th>
                <th>Action</th>
               
            </tr>
        </thead>
        <tbody>
            @if (string.IsNullOrEmpty(@Model.search))
            {
<<<<<<< HEAD
                @foreach (var task in @Model.user.Tasks.OrderBy(t => t.Id))
                {
                    <tr>
                        <td>@task.taskName</td>
                        <td>
                            <a asp-page="./Task/Update" class="btn btn-primary" asp-route-id="@task.Id">Update</a>  <a asp-page="./Task/Delete" class="btn btn-danger" asp-route-id="@task.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
            @try
            {
                @foreach (var task in @Model.user.Tasks.ToList().Where(x => x.taskName.Contains(@Model.search)).OrderBy(t=>t.Id))
                {
                    <tr>
                        <td>@task.taskName</td>
                        <td>
                            <a asp-page="./Task/Update" class="btn btn-primary" asp-route-id="@task.Id">Update</a>  <a asp-page="./Task/Delete" class="btn btn-danger" asp-route-id="@task.Id">Delete</a>
                        </td>

                    </tr>
                }
            }
            catch(Exception e)
            {
                return;
=======
                <tr>
                    <td>@task.taskName</td>
                    <td>@task.Category?.Name</td>
                    <td>@task.TaskDate.ToShortDateString()</td>
                    <td>
                        <a asp-page="./Task/Update" class="btn btn-primary" asp-route-id="@task.Id">Update</a>  <a asp-page="./Task/Delete" class="btn btn-danger" asp-route-id="@task.Id">Delete</a>
                    </td>
                </tr>
>>>>>>> 12e156eaa20b218ab12a0a0514e0b32d9d5e7e93
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
